
h1 {
  color: green;
}
.hora {
  color: black;
  background-color: #009900;
}
.aula {
  color: black;
  background-color: #c4ffc4;
}

.table-kauan{
  background-color: #c4ffc4;
  text-align: center;
  border: 2px;
  border-radius: 10px;
  style="width:100%";
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color:  black;
  text-align: center;
}
