---
layout: default
---
<link type= "text/css" rel= "stylesheet" href= "CSS/stylesheet.css">
<div background= "fundo-verde-claro (1).png"><h1 align="center">HORÁRIOS IFPB - Campus Guarabira</h1></div>

{% for curso in site.data.horarios.cursos %}
  <h1 align="center">{{curso.nome}}</h1>
  {% for turma in curso.turmas %}
    <h2>{{turma.nome}}</h2>
    <table class="table-kauan">
      <tr>
        {% for coluna in turma.colunas %}
          <th>{{coluna}}</th>
        {% endfor %}
      </tr>
        {% for linha in turma.linhas%}
            <tr>
            <div class="hora"><td>{{linha.horario}}</td></div>
            {% for aula in linha.aulas %}
                <div class="aula"><td>{{aula.disciplina}}<br>{{aula.professor}}</td></div>
            {% endfor %}
        </tr>
        {% endfor%}
     </table>
  {% endfor %}
{% endfor %}
